extends layout

block content
    .container
        .sidenav
            a(href='/admin/users') Usuarios
            a(href='/admin/chats') Consultas
        .main
            table#example.table.table-striped(style='width:100%')
        script(src='https://cdn.datatables.net/2.0.3/js/dataTables.js')
        script(type='text/javascript').
            $(document).ready(function() {
                $('#example').dataTable({
                    "aaData": !{JSON.stringify(data)},
                    "columns": !{JSON.stringify(columns)}
                });
            } );
