extends layout

block content
    main.container.my-5
        section
            h1.text-center Términos y Condiciones de Contratación
            p.lead.text-center Los siguientes términos y condiciones regulan la contratación de servicios ofrecidos por Vetconnect, un servicio de veterinaria en línea. Al contratar cualquiera de nuestros servicios, usted acepta estar sujeto a estos términos y condiciones.
        section
            h2 Servicios Ofrecidos
            ul.list-unstyled
                li Consulta Veterinaria en Línea: Acceso a una plataforma en línea donde puede consultar a veterinarios expertos sobre el cuidado de su mascota, diagnósticos médicos, tratamientos y cualquier otra pregunta relacionada con la salud animal.
                li Recetas y Prescripciones: Posibilidad de recibir recetas y prescripciones veterinarias en línea después de una consulta con uno de nuestros veterinarios.
                li Asesoramiento Nutricional: Consejos y recomendaciones sobre la alimentación y nutrición de su mascota proporcionados por profesionales veterinarios.
        section
            h2 Responsabilidades del Usuario
            p Al utilizar nuestros servicios, usted acepta proporcionar información precisa y completa sobre su mascota y su historial médico. Además, usted es responsable de seguir las recomendaciones y pautas proporcionadas por nuestros veterinarios, así como de garantizar la seguridad y el bienestar de su mascota en todo momento.
        section
            h2 Propiedad Intelectual
            p Todo el contenido y la propiedad intelectual relacionada con los servicios de Vetconnect, incluidos, entre otros, el sitio web, la plataforma de consulta en línea y los materiales educativos, son propiedad exclusiva de Vetconnect y están protegidos por las leyes de propiedad intelectual aplicables. Se prohíbe la reproducción, distribución o uso no autorizado de dicho contenido sin el consentimiento expreso de Vetconnect.
        section
            h2 Cambios en los Términos y Condiciones
            p Vetconnect se reserva el derecho de modificar estos términos y condiciones en cualquier momento y sin previo aviso. Los cambios entrarán en vigencia inmediatamente después de su publicación en nuestro sitio web. Se recomienda revisar regularmente esta página para estar al tanto de cualquier actualización.
        section
            h2 Contacto
            p Si tiene alguna pregunta o comentario sobre estos términos y condiciones, no dude en ponerse en contacto con nosotros a través de los canales proporcionados en nuestro sitio web.
        section.text-center.mt-5
            p Última actualización: #[strong 17.05.2024].