extends layout
block content
    main.container.my-5
        section
            h1.text-center Política de Cookies
            p.lead.text-center Esta Política de Cookies describe cómo el Vetconnect utiliza cookies y tecnologías similares para mejorar su experiencia en nuestro sitio web. Al utilizar nuestro sitio web, usted acepta el uso de cookies de acuerdo con esta política.
        section
            h2 ¿Qué son las cookies?
            p Una cookie es un pequeño archivo que se coloca en su computadora o dispositivo móvil cuando visita un sitio web. Las cookies permiten que el sitio web reconozca su dispositivo y recopile información sobre su navegación y preferencias en línea.
        section
            h2 Tipos de Cookies Utilizadas
            p El Vetconnect utiliza los siguientes tipos de cookies en su sitio web:
            ul.list-unstyled
            ol Cookies estrictamente necesarias: Estas cookies son esenciales para que usted pueda navegar por el sitio web y utilizar sus funciones, como acceder a áreas seguras del sitio.
        section
            h2 Control de Cookies
            p Usted puede controlar y administrar el uso de cookies en su navegador web. La mayoría de los navegadores le permiten rechazar o aceptar cookies, así como eliminar cookies existentes. Consulte la configuración de su navegador para obtener más información sobre cómo hacerlo.
        section
            h2 Cambios en la Política de Cookies
            p El Vetconnect se reserva el derecho de actualizar esta Política de Cookies en cualquier momento. Se recomienda revisar esta página periódicamente para asegurarse de que está satisfecho con cualquier cambio. Esta política entró en vigencia el 01.05.2024.
        section
            h2 Contacto
            p Si tiene alguna pregunta acerca de esta Política de Cookies, por favor contáctenos a través de los canales proporcionados en nuestro sitio web.
        section.text-center.mt-5
            p Última actualización: #[strong 28.04.2024].