extends layout

block content
        .row.d-flex.justify-content-between
            .col-lg-4.d-none.d-lg-block
               img.img-fluid(src='img/vetconnect2.jpg' alt='Gato encima de tableta' style=' width: auto; height: auto;  border-radius: 0 50% 50% 0' )
            .col-lg-4.mt-lg-5.mb-lg-0.mx-lg-0
                .d-block.d-lg-none.mb-5
                    img.img-fluid(src='img/cachorroygatitos.jpg' alt='Cachorro y gatitos' style=' width: auto; height: auto')
                .text-center.text-lg-start.mx-1 
                    h1.mb-4.text-center Bienvenidos a VETCONNECT
                    p.text-start.mb-3
                    | En nuestro sitio, ofrecemos consultas veterinarias a través de un práctico chat en línea. Aquí, encontrarás soluciones confiables y accesibles para todas tus necesidades veterinarias, con la comodidad de acceder a asesoramiento profesional sin salir de casa. Nuestro equipo de expertos está dedicado a brindarte el mejor cuidado y orientación para tus queridas mascotas en tiempo real.
                    p.text-start.mb-4 
                    | ¡Comienza a cuidar de tus amigos peludos hoy mismo a través de nuestro servicio de chat veterinario!
                    p.text-center.mt-5
                        a.btn.btn-primary.px-4.py-2(href='/signup' role='button') SOY PACIENTE
                    p.text-center.mb-5
                        a.btn.btn-primary.px-4.py-2(href='/contact' role='button') SOY DOCTOR
                .text-center.mb-5
                    p
                    | Visita nuestras 
                    a(href='/questions') preguntas frecuentes
                    |  para obtener más información.
            .col-lg-4.d-none.d-lg-block
                img.img-fluid(src='img/vetconnect1.jpg' alt='Perro encima de ordenador' style=' width: auto; height: auto;   border-radius: 50% 0 0 50%')
        include service
        include review
            