doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../stylesheets/bootstrap.css')
    link(rel='stylesheet', href='../stylesheets/style.css')
  body
    div.container
      block content
  script(src='https://code.jquery.com/jquery-3.7.1.min.js')
  script(src='https://unpkg.com/@popperjs/core@2')
  script(src='../javascripts/bootstrap.min.js')