doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')  
    title= "Vetconnect"
    script(src='/javascripts/jquery-3.5.1.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js')
    script(src='/javascripts/bootstrap.min.js')
    link(rel='stylesheet' href='/stylesheets/dataTables.dataTables.css')
    link(rel='stylesheet' href='/stylesheets/responsive.dataTables.min.css')
    link(rel='stylesheet' href='/stylesheets/bootstrap.css')
    link(rel='stylesheet' href='/stylesheets/bootstrap-icons/font/bootstrap-icons.css')
    link(rel='stylesheet' href='/stylesheets/style.css')  
  body
    .popup-overlay
      .popup
        p
          a.m-1.submit.btn.btn-primary(href='javascript:;') Aceptar   
          a.m-1.close.btn.btn-primary(href='javascript:;') Cerrar    
        p 
          | Nos encanta tenerte aquí. Para brindarte la mejor experiencia posible en nuestro sitio, utilizamos cookies y tecnologías similares. Estas cookies nos ayudan a entender cómo utilizas nuestro sitio y a personalizar tu experiencia de navegación. Al hacer clic en "Aceptar", nos das tu consentimiento para usar todas las cookies.
          a(aria-current='Política de cookies' href='/cookies') Ver nuestra política de cookies        
    nav.navbar.navbar-expand-lg.bg-body-tertiary.bg-primary
      .container-fluid
        a.navbar-brand(href='/').text-white.ms-2
          img.logo(src="/img/logowhite.png" )
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.nav.ms-auto
            if (username)
              li.nav-item
                a.nav-link.active(aria-current='dash' href='/users').text-white 
                  i.bi.bi-chat-dots-fill.me-1(style="transform: scaleX(-1); display: inline-block;")
                  | CONSULTAS
              if (role=="ROLE_ADMIN")
                li.nav-item
                  a.nav-link(href='/admin/users').text-white.float-right 
                    i.bi.bi-gear-fill 
                    | ADMINISTRAR
              li.nav-item
                  a.nav-link(href='/logout').text-white.float-right            
                    i.bi.bi-box-arrow-right.bi-fill.me-1
                    | SALIR   
            else
              li.nav-item
                a.nav-link.active(aria-current='' href='/signup').text-white 
                  i.bi.bi-person-plus-fill.me-1
                  | REGISTRARSE
              li.nav-item
                a.nav-link(href='/login').text-white.float-right 
                  i.bi.bi-box-arrow-in-right  
                  | LOGIN               
    block content
    footer.bd-footer.py-4.py-md-5.bg-secondary.text-light
        .row
          .col-lg-4.col-12.d-flex.justify-content-center
            ul 
              ol
                p
                  a(aria-current='aviso legal' href='/legal').text-white Aviso legal
              ol
                p
                  a(aria-current='Condiciones de Contratación' href='/terms').text-white Condiciones de Contratación
              ol
                p
                  a(aria-current='Política de privacidad' href='/privacy').text-white Política de privacidad
              ol
                p
                  a(aria-current='Política de cookies' href='/cookies').text-white Política de cookies
              ol
                p
                  a(aria-current='Preguntas Frecuentes' href='/questions').text-white Preguntas Frecuentes
          .col-lg-4.col-12.d-flex.justify-content-center.mt-lg-5.mb-lg-0.mb-4
            a.text-light(href='https://www.instagram.com/')
              svg.bi.bi-instagram(xmlns='http://www.w3.org/2000/svg' width='36' height='36' fill='currentColor' viewBox='0 0 16 16')
                path(d='M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334')
            a.text-light.mx-4(href='https://twitter.com/')
              svg.bi.bi-twitter-x(xmlns='http://www.w3.org/2000/svg' width='36' height='36' fill='currentColor' viewBox='0 0 16 16')
                path(d='M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z')
            a.text-light(href='https://www.facebook.com/')
              svg.bi.bi-facebook(xmlns='http://www.w3.org/2000/svg' width='36' height='36' fill='currentColor' viewBox='0 0 16 16')
                path(d='M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951')
          .col-lg-4.col-12.d-flex.justify-content-center
            ul.text-light
              ol 
                h5.text-light Contacto
              ol.mb-2 Teléfono: 965 123 456
              ol.mb-2 Email: vetconnet@gmail.com
              ol 
                h5.text-light Horario 
              ol.mb-2 Lunes a sábados: 9:00 a 21:00
              ol.mb-2 Domingos : 9:00 a 14:00
        hr
        .row
          .col-lg-4
          .col-lg-4.col-6.mt-4.d-flex.justify-content-center
            p Vetconnect © 2024
          .col-lg-4.col-6.d-flex.justify-content-center.mt-3
            a(href='/').text-white
              img.logoFooter(src="/img/logowhite.png" )
script.
  jQuery(document).ready(function($) {
  //check to see if the submited cookie is set, if not check if the popup has been closed, if not then display the popup
  if( getCookie('popupCookie') != 'submited'){
  if(getCookie('popupCookie') != 'closed' ){
  $('.popup-overlay').css("display", "flex").hide().fadeIn();
  }
  }
  $('a.close').click(function(){
  $('.popup-overlay').fadeOut();
  //sets the coookie to one minute if the popup is closed (whole numbers = days)
  setCookie( 'popupCookie', 'closed', .00069444444 );
  });
  $('a.submit').click(function(){
  $('.popup-overlay').fadeOut();
  //sets the coookie to five minutes if the popup is submited (whole numbers = days)
  setCookie( 'popupCookie', 'submited', .0034722222 );
  });
  function getCookie(cname) {
  var name = cname + "=";
  var ca = document.cookie.split(';');
  for (var i = 0; i < ca.length; i++) {
  var c = ca[i];
  while (c.charAt(0) == ' ') {
  c = c.substring(1);
  }
  if (c.indexOf(name) == 0) {
  return c.substring(name.length, c.length);
  }
  }
  return "";
  }
  function setCookie(cname, cvalue, exdays) {
  var d = new Date();
  d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
  var expires = "expires=" + d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }
  });
