extends layout

block content
    main.container.my-5
        section
            h1.text-center Aviso Legal
            p.lead.text-center Bienvenido al sitio web de Vetconnect. Por favor, lea detenidamente los siguientes términos y condiciones antes de utilizar nuestro sitio web.
        section
            h2 Propiedad del Sitio Web
            p Este sitio web y su contenido son propiedad de Vetconnect. Todos los derechos reservados. El contenido incluye, pero no se limita a, textos, gráficos, logotipos, imágenes, videos, audios, documentos y cualquier otro material presente en el sitio web.
        section
            h2 Uso del Sitio Web
            p El uso de este sitio web está sujeto a los siguientes términos de uso:
            ul
                li Este sitio web es para su uso personal y no comercial. No puede distribuir, modificar, transmitir, reutilizar, republicar o utilizar el contenido de este sitio web con fines comerciales sin el consentimiento previo por escrito de Vetconnect.
                li No puede utilizar este sitio web de manera que pueda dañar, deshabilitar, sobrecargar o deteriorar el funcionamiento del sitio web o interferir con el uso y disfrute de otras personas del sitio web.
                li El uso de este sitio web está sujeto a todas las leyes y regulaciones locales, estatales, nacionales e internacionales aplicables.
        section
            h2 Exclusión de Responsabilidad
            p Vetconnect no se hace responsable de ningún daño directo, indirecto, incidental, consecuente o punitivo que resulte del uso o la imposibilidad de utilizar este sitio web, incluidos, entre otros, daños por pérdida de beneficios, datos o uso.
        section
            h2 Enlaces Externos
            p Este sitio web puede contener enlaces a otros sitios web que no son propiedad ni están controlados por Vetconnect. No tenemos control ni asumimos responsabilidad por el contenido, las políticas de privacidad o las prácticas de otros sitios web.
        section
            h2 Cambios en el Aviso Legal
            p Vetconnect se reserva el derecho de modificar este aviso legal en cualquier momento y sin previo aviso. Se recomienda revisar esta página regularmente para estar al tanto de cualquier cambio.
        section
            h2 Contacto
            p Si tiene alguna pregunta o comentario sobre este aviso legal, no dude en ponerse en contacto con nosotros a través de los canales proporcionados en nuestro sitio web.
        section.text-center.mt-5
            p Última actualización: #[strong 18.05.2024].