extends layout
block content
    div.container
      .row.justify-content-center
        .col-md-6
            h1.my-5.text-center Iniciar sesión
            if (error)
                .my-5.text-center.text-danger #{error}
            if (result=="successRegister")
                .my-5.text-center.text-success Se ha registrado exitosamente
            if (result=="changePasswordSuccess")
                .my-5.text-center.text-success Contraseña ha sido cambiada
            form(action='/login' method='post')
                .mb-3.row.align-items-center
                    label.form-label.col-sm-4(for='username') Email: 
                    .col-sm-8
                        input#username.form-control(type='email' name='username' maxlength="45" required)
                .mb-3.row.align-items-center
                    label.form-label.col-sm-4(for='password') Contraseña: 
                    .col-sm-8
                        input#password.form-control(type='password' name='password' required)
                .mb-5.row.align-items-center
                    label.form-label.col-sm-4(for='rememberme') Guardar contraseña: 
                    .col-sm-8
                        input#rememberme(name='rememberme'  type='checkbox' value="yes")
                .mb-3.row.align-items-center
                    #submitplace.col-sm-8.offset-sm-4
                        p !{captcha}
                        button.btn.btn-primary.px-4.py-2.ms-5(type='submit') Entrar
                .mb-3.row.align-items-center
                    .col-sm-8.offset-sm-4
                        a.link-primary.link-offset-2.link-underline-opacity-25.link-underline-opacity-100-hover(href="/passwordremind") Olvidé la contraseña
                .mb-3.row.align-items-center
                    .col-sm-8.offset-sm-4
                        a.link-primary.link-offset-2.link-underline-opacity-25.link-underline-opacity-100-hover(href="/signup") Registrar
    script.
        function cb(token){
            console.log('token', token);
            var input = document.createElement('button');
            input.setAttribute('type', 'submit');
            input.setAttribute('value', 'Entrar');
            input.setAttribute('class', 'btn btn-primary px-4 py-2 ms-5');
            document.getElementsById('submitplace')[0].appendChild(input);
        }