extends layout
block content
    div.container
      .row.justify-content-center
        .col-md-6
            h1.my-5.text-center Recordar Contraseña
            if (error)
                .my-5.text-center.text-danger #{error}
            form(action='/passwordremind', method='POST').form-group.mt-3
                .mb-3.row.align-items-center
                    label.form-label.col-sm-3(for='email') Tu email: 
                    .col-sm-6
                        input#email.form-control(type='email' name='email' maxlength="45" required)
                    .col-sm-2
                        button.btn.btn-primary.px-4.py-2.ms-5(type='submit') Enviar