extends layout
block content
    div.container
      .row.justify-content-center
        .col-md-6
            h1.my-5.text-center Restablecer Contrase침a
            if (error)
                .my-5.text-center.text-danger #{error}
            p.text-center.mb-5
                | Se enviar치 una clave temporal a tu correo electr칩nico registrado.
            form(action='/passwordrestore', method='POST').form-group.mt-3
                .mb-3.row.align-items-center
                    label.form-label.col-sm-4(for='passwordtoken') Clave temporal:
                    .col-sm-8
                        input#passwordtoken.form-control(type='text' name='passwordtoken' maxlength="256" required)
                .mb-3.row.align-items-center
                    .col-sm-8.offset-sm-4
                        button.btn.btn-primary.profile-button(type='submit') Cambiar contrase침a