extends layout
block content
    div.container
        .row.justify-content-center
            .col-md-6
                h1.my-5.text-center Restablecer Contraseña
                if (error)
                    .my-5.text-center.text-danger #{error}
                p.text-center.mb-5
                    | Se enviará una clave temporal a tu correo electrónico registrado si existe.
                form(action='/passwordrestore', method='POST').form-group.mt-3
                    .row.align-items-center.mb-3
                        .col-sm-3
                            label.form-label(for='passwordtoken') Clave temporal:
                        .col-sm-6
                            input#passwordtoken.form-control(type='text' name='passwordtoken' maxlength="256" required)
                        .col-sm-2
                            button.btn.btn-primary.profile-button(type='submit') Enviar