extends layout

block content
    main.container.my-5
        section
            h1.text-center Política de Privacidad
            p.lead.text-center Bienvenido a la Política de Privacidad de Vetconnect. Esta política describe cómo recopilamos, utilizamos y protegemos la información que usted proporciona cuando utiliza nuestro sitio web.
        section
            h2 Recopilación de Información
            p En Vetconnect, recopilamos información personal de diversas formas, incluyendo:
            ul
                li Cuando usted proporciona información al registrarse en nuestro sitio web, solicitar una consulta o utilizar nuestros servicios en línea.
                li Cuando usted navega por nuestro sitio web, recopilamos información automáticamente, incluyendo su dirección IP, cookies y datos de navegación.
        section
            h2 Uso de la Información
            p Utilizamos la información recopilada para los siguientes propósitos:
            ul
                li Proporcionar y personalizar nuestros servicios según sus necesidades individuales.
                li Mejorar nuestro sitio web y servicios, incluyendo el análisis de tendencias y la recopilación de datos demográficos.
                li Comunicarnos con usted, responder a sus consultas y proporcionarle información relevante sobre nuestros servicios.
        section
            h2 Compartir Información
            p No compartimos su información personal con terceros, excepto en las siguientes circunstancias:
            ul
                li Cuando sea necesario para cumplir con la ley, proteger nuestros derechos legales o responder a solicitudes legales.
                li Con su consentimiento previo para compartir su información con terceros.
        section
            h2 Seguridad de la Información
            p En Vetconnect, tomamos medidas de seguridad para proteger su información personal contra pérdida, uso indebido, acceso no autorizado, divulgación o alteración.
        section
            h2 Cookies
            p Utilizamos cookies en nuestro sitio web para mejorar su experiencia de usuario. Puede configurar su navegador para que rechace todas las cookies o para que le avise cuando se envíe una cookie. Sin embargo, si no acepta cookies, es posible que algunas partes de nuestro sitio web no funcionen correctamente.
        section
            h2 Cambios en la Política de Privacidad
            p Vetconnect se reserva el derecho de modificar esta Política de Privacidad en cualquier momento y sin previo aviso. Se recomienda revisar esta página regularmente para estar al tanto de cualquier cambio.
        section
            h2 Contacto
            p Si tiene alguna pregunta o comentario sobre esta Política de Privacidad, no dude en ponerse en contacto con nosotros a través de los canales proporcionados en nuestro sitio web.
        section.text-center.mt-5
            p Última actualización: #[strong 18.05.2024].