extends layout
block content
    .container
      header.py-5
        h1.text-center Preguntas Frecuentes
      //- Pregunta 1
      .mb-4
        h3 ¿Qué es Vetconnect y cuál es su propósito?
        p Vetconnect es una plataforma en línea que conecta a propietarios de mascotas con veterinarios calificados para consultas virtuales. Nuestro propósito es proporcionar acceso rápido y conveniente a servicios veterinarios de alta calidad, permitiendo a los usuarios obtener asesoramiento y atención para sus mascotas desde cualquier parte del mundo.
      //- Pregunta 2
      .mb-4
        h3 ¿Cómo puedo solicitar una consulta veterinaria en línea?
        p Después de registrarte en Vetconnect, puedes solicitar una consulta veterinaria en línea accediendo al menú de consultas en la parte superior de la página. Desde allí, simplemente haz clic en el botón "Nueva Consulta" para crear una nueva consulta. Una vez creada, podrás unirte al chat para comenzar la conversación con un veterinario. Nuestro equipo de veterinarios estará disponible para responder a todas tus preguntas y proporcionar el mejor cuidado posible para tu mascota.
      //- Pregunta 3
      .mb-4
        h3 ¿Cuál es el horario de atención de Vetconnect?
        p En Vetconnect, nuestro horario de atención es de lunes a sábado de 9:00 a 21:00 y los domingos de 9:00 a 14:00. Durante estos horarios, nuestro equipo de veterinarios está disponible para consultas en línea y para brindar el mejor cuidado posible a tus mascotas. Recuerda que puedes solicitar una consulta en cualquier momento, pero te recomendamos hacerlo durante nuestro horario de atención para recibir una respuesta rápida y oportuna.
      //- Pregunta 4
      .mb-4
        h3 ¿Cómo puedo terminar una consulta en Vetconnect?
        p Para finalizar una consulta en Vetconnect, simplemente accede al menú de consultas y busca el botón "Terminar" junto a la consulta abierta que deseas cerrar. Al hacer clic en este botón, confirmarás que deseas finalizar la consulta y se cerrará adecuadamente. Recuerda que una vez que se termine la consulta, ya no podrás enviar más mensajes o recibir respuestas del veterinario.
      //- Pregunta 5
      .mb-4
        h3 ¿Puedo recibir recetas después de la consulta?
        p Sí, después de tu consulta, nuestro equipo de veterinarios puede proporcionarte recetas médicas para tu mascota si es necesario. Estas recetas podrán ser utilizadas para obtener los medicamentos adecuados en una farmacia veterinaria o en línea.
      .mb-4
        h3 ¿Puedo ver el historial de consultas en Vetconnect?
        p Dirígete al menú de consultas, que generalmente se encuentra en la parte superior de la página. Busca la opción que dice "Consultas finalizadas" y se te mostrará una lista de todas tus consultas anteriores. Para ver más detalles o el contenido de una consulta específica, simplemente haz clic en ella y se abrirá la conversación completa.
