h1.text-center.mb-5 Opiniones
.carousel.carousel-dark.slide.mb-5(data-bs-ride='carousel', id='userReviewsCarousel')
  .carousel-inner
    .carousel-item.active
      .container
        .row.justify-content-center
            - var i = 0;
            while i < 3 
                .col-lg-3.col-12
                  .card.h-100
                      .card-body.d-flex.flex-column.mt-auto
                          h5.card-title #{reviews[i].userReview}
                          p.card-text #{reviews[i].bodyReview}
                      .card-footer.bg-transparent.border-info
                          each star in Array(reviews[i].starsReview).fill('')
                              i.bi.bi-star-fill.text-warning
                          each star in Array(5 - reviews[i].starsReview).fill('')
                              i.bi.bi-star  
                - i++
    - var numIterations = Math.ceil(reviews.length / 3);
    - for (var j = 1; j < numIterations; j++)
      .carousel-item
        .container
          .row.justify-content-center
            - var startIdx = j * 3;
            - var endIdx = Math.min(startIdx + 3, reviews.length);
            - for (var i = startIdx; i < endIdx; i++)
              .col-lg-3.col-12
                .card.h-100
                    .card-body.d-flex.flex-column.mt-auto
                        h5.card-title #{reviews[i].userReview}

                        p.card-text #{reviews[i].bodyReview}
                    .card-footer.bg-transparent.border-info
                        each star in Array(reviews[i].starsReview).fill('')
                            i.bi.bi-star-fill.text-warning
                        each star in Array(5 - reviews[i].starsReview).fill('')
                            i.bi.bi-star                                                             
  button.carousel-control-prev(type='button', data-bs-target='#userReviewsCarousel', data-bs-slide='prev')
    span.carousel-control-prev-icon
    span.visually-hidden Previous
  button.carousel-control-next(type='button', data-bs-target='#userReviewsCarousel', data-bs-slide='next')
    span.carousel-control-next-icon
    span.visually-hidden Next



