.carousel.carousel-dark.slide.mb-5(data-bs-ride='carousel', id='userReviewsCarousel')
  .carousel-inner
    .carousel-item.active
      .container
        .row.justify-content-center
          .col-lg-4.col-md-4
            .card
              .card-body
                h5.card-title User 1
                p.card-text
                  | "I had a great experience using VetConnect. The online consultation was convenient and the vet provided helpful advice for my pet's health."
                p.card-text.text-muted Last updated 3 days ago
          .col-lg-4.col-md-4
            .card
              .card-body
                h5.card-title User 2
                p.card-text
                  | "I'm so thankful for VetConnect! They helped me during a pet emergency and provided quick, professional assistance."
                p.card-text.text-muted Last updated 1 week ago
          .col-lg-4.col-md-4
            .card
              .card-body
                h5.card-title User 3
                p.card-text
                  | "VetConnect has been a lifesaver for my elderly cat. I appreciate the convenience and expertise of the veterinary team."
                p.card-text.text-muted Last updated 2 weeks ago
    .carousel-item
      .container
        .row.justify-content-center
          .col-lg-4.col-md-4
            .card
              .card-body
                h5.card-title User 4
                p.card-text
                  | "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                p.card-text.text-muted Last updated 3 days ago
          .col-lg-4.col-md-4
            .card
              .card-body
                h5.card-title User 5
                p.card-text
                  | "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
                p.card-text.text-muted Last updated 1 week ago
          .col-lg-4.col-md-4
            .card
              .card-body
                h5.card-title User 6
                p.card-text
                  | "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
                p.card-text.text-muted Last updated 2 weeks ago
  button.carousel-control-prev(type='button', data-bs-target='#userReviewsCarousel', data-bs-slide='prev')
    span.carousel-control-prev-icon
    span.visually-hidden Previous
  button.carousel-control-next(type='button', data-bs-target='#userReviewsCarousel', data-bs-slide='next')
    span.carousel-control-next-icon
    span.visually-hidden Next


