block content
  section.container.mb-5
    h1.text-center Nuestros Servicios
    .row.row-cols-1.row-cols-lg-3.g-4.mt-4
      // Consulta Veterinaria en Línea
      .col
        .card.h-100.text-bg-light
          img.card-img-top(src='img/consultas.jpg' alt='Consulta Veterinaria en Línea')
          .card-body.text-center.d-flex.flex-column
            h5.card-header.border-info.bg-transparent Consulta Veterinaria en Línea
            p.card-text
              | Acceso a una plataforma en línea donde puedes consultar a veterinarios expertos sobre el cuidado de tu mascota, diagnósticos médicos, tratamientos y cualquier otra pregunta relacionada con la salud animal.
      // Asesoramiento Nutricional
      .col
        .card.h-100.text-bg-light
          img.card-img-top(src='img/nutricion2.jpg' alt='Asesoramiento Nutricional')
          .card-body.text-center.d-flex.flex-column
            h5.card-header.border-info.bg-transparent Asesoramiento Nutricional
            p.card-text
              | Consejos y recomendaciones sobre la alimentación y nutrición de tu mascota proporcionados por profesionales veterinarios.
      // Recetas y Prescripciones
      .col
        .card.h-100.text-bg-light
          img.card-img-top(src='img/recetas.jpg' alt='Recetas y Prescripciones')
          .card-body.text-center.d-flex.flex-column
            h5.card-header.border-info.bg-transparent Recetas y Prescripciones
            p.card-text
              | Posibilidad de recibir recetas y prescripciones veterinarias en línea después de una consulta con uno de nuestros veterinarios.