.hidden{
  display: none;
 }

 .wigthdiv{
  max-width: 50%;
 }
 
.main-body {
  padding: 15px;
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1 solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col,
.gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}

.h-100 {
  height: 100% !important;
}

.shadow-none {
  box-shadow: none !important;
}

.card-header {
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis;
}


.card-fixed-size {
  height: 300px;
  /* Adjust as needed */
}

.logo {
  /* filter: invert(1); */
  height: 40px;
}

.logoFooter {
  /* filter: invert(1); */
  height: 30px;
}

a,
a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

#textbox{
  white-space: break-spaces;
}

#form {
  background-color: #f5f5f5;
  /* Color de fondo del formulario de chat */
  padding: 0px;
  position: sticky;
  align-self: flex-end;
  bottom: 0;
  left: 0;
  right: 0;
}

#form>button:hover {
  background-color: #0056b3;
  /* Cambia el color de fondo del botón al pasar el mouse */
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  /* Agrega una barra de desplazamiento vertical si hay muchos mensajes */
  height: 640px;
  /* Limita la altura del chat para que no ocupe demasiado espacio */
}

#messages>li {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  max-width: 20%;
  /* Limita el ancho de los mensajes para que no se extiendan demasiado */
}

/* The sidebar menu */
.sidenav {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 160px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 1 rem;
  /* Stay at the top */
  left: 0;
  background-color: #0d6efd;
  /* Black */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* Estilos para el cuerpo de la página */


/* Estilos específicos para la sección de chat */
.chat-online {
  color: #34ce57
}

.chat-offline {
  color: #e4606d
}

.chat-messages,
.usermessage,
.adminmessage {
  display: flex;
  flex-direction: column;
  max-height: 800px;
  overflow-y: scroll;
}

.chat-message-left,
.chat-message-right {
  display: flex;
  flex-shrink: 0;
}

.chat-message-left,
.usermessage {
  margin-right: auto
}

.chat-message-right,
.adminmessage {
  flex-direction: row-reverse;
  margin-left: auto;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.px-4 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.popup-overlay {
  display: none;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.popup {
  z-index: 10000;
  position: fixed;
  height: 15%;
  bottom: 0;
  width: 100%;
  display: inline-block;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  /* display:flex; */
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/*carousel*/
